<h2 mat-dialog-title>Install Angular</h2>
<mat-dialog-content class="mat-typography">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Amount</mat-label>
      <input #amount matInput [value]="data.count" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input #name matInput [value]="data.name" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Price</mat-label>
      <input #price matInput [value]="data.price" />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" (click)="updateValues(+amount.value, name.value, +price.value)">Edit</button>
</mat-dialog-actions>
