<mat-toolbar class="mb-2 justify-center" color="primary">
  <span>Total Expenses: {{ totalExpenses.toFixed(2) }} €</span>
</mat-toolbar>

<app-add-entry (refresh)="refresh()"></app-add-entry>
<div id="YourEntries" class="w-10/12 md:w-6/12 mx-auto">
  <span class="text-lg text-center">Your Entries</span>
</div>
<app-purchase-search
  (searchTextChanged)="searchText = $event"
></app-purchase-search>
<app-filter-chips
  [categories]="this.categories"
  (filteredCategoryChanged)="filteredCategoryName = $event"
></app-filter-chips>
<app-purchases-list
  [searchText]="searchText"
  [filteredCategoryName]="filteredCategoryName"
  [purchases]="purchases"
  [categories]="this.categories"
  (refresh)="this.refresh()"
></app-purchases-list>
