<mat-toolbar style="margin-bottom: 0.5em;" color="primary">
    <span>Total Expenses: {{ totalExpenses.toFixed(2) }} €</span>
</mat-toolbar>
<mat-form-field style="margin: 0 10px;">
  <mat-label>Amount</mat-label>
  <input matInput type="number" #count />
</mat-form-field>
<mat-form-field style="margin: 0 10px">
  <mat-label>Name</mat-label>
  <input matInput type="text" #name />
</mat-form-field>
<mat-form-field style="margin: 0 10px">
  <mat-label>Price</mat-label>
  <input matInput type="text" #price />
</mat-form-field>

<button mat-fab color="basic" (click)="add(name.value, +count.value, +price.value)" type="submit">
  <mat-icon aria-hidden="false" aria-label="Add Purchase" fontIcon="add"></mat-icon>
</button>
<button mat-fab color="primary" (click)="sync()">
    <mat-icon aria-hidden="false" aria-label="Synchronize" fontIcon="sync"></mat-icon>
</button> <br>
<mat-form-field style="margin: 0 10px">
  <mat-label>Search</mat-label>
  <input matInput type="text"  [(ngModel)]="searchText" />
</mat-form-field>
<div class="example-list" cdkDropList (cdkDropListDropped)="drop($event)">
  <mat-card class="example-box" cdkDrag *ngFor="let purchase of purchases | filter:searchText">
      <mat-card-content class="example-box-content">
        <span style="font-size: 1.5em"
          >{{ purchase.count }}x {{ purchase.name }}
          {{ purchase.price.toFixed(2) + "€" }}
          {{ purchase.createdAt!.toLocaleDateString() }}
        </span>
        <button mat-mini-fab color="primary" (click)="openDialog(purchase.id, purchase.name, purchase.count, purchase.price)">
          <mat-icon aria-hidden="false" aria-label="Edit" fontIcon="edit"></mat-icon>
        </button>
        <button mat-mini-fab color="warn" (click)="delete(purchase.id)">
          <mat-icon aria-hidden="false" aria-label="Delete" fontIcon="delete"></mat-icon>
        </button>
      </mat-card-content>
  </mat-card>
</div>
