<div id="PurchasesList" class="example-list flex flex-col items-center w-10/12 mx-auto md:w-6/12" cdkDropList (cdkDropListDropped)="drop($event)">
    <mat-card
      class="w-full example-box"
      cdkDrag
      *ngFor="let purchase of purchases | filter : searchText | filter : filteredCategoryName"
      >
      <div id="Purchase" class="flex justify-between items-center">
        <div id="Date" class="flex flex-col justify-start items-center w-1/12">
          <span class="text-left text-xs">{{ formatDate(purchase.createdAt!)[0] }}</span>
          <span class="text-left text-xs">{{ formatDate(purchase.createdAt!)[1] }}</span>
        </div>
        <div id="Infos" class="pl-5 flex flex-col w-4/12 overflow-x-hidden">
          
          <span
          class="font-bold lg:text-base text-xs"
          [style.color]="purchase.category.color"
          >{{ purchase.category ? purchase.category.name : "" }}</span
          >
          
          <div>
            <span class="lg:text-xl text-lg text-gray-700">{{ purchase.count }}x </span>
            <span class="lg:text-2xl text-xl font-bold uppercase">{{ purchase.name }}</span>
          </div>
          
        </div>
  
        
        <div id="Price" class="flex flex-col items-end w-3/12 overflow-x-hidden">
          <span class="text-sm lg:text-xl">{{
            purchase.price.toFixed(2) + "€"
          }}</span>
          <span class="text-xl lg:text-2xl font-bold">{{
            (purchase.price * purchase.count).toFixed(2) + "€"
          }}</span>
        </div>
        
        <div id="ActionButtons" class="flex justify-end gap-2 w-5/12 pr-4" >
          <button
            mat-mini-fab
            color="primary"
            (click)="
              openDialog(
                purchase.id,
                purchase.name,
                purchase.count,
                purchase.price,
                purchase.category,
                categories
              )
            "
          >
            <mat-icon
              aria-hidden="false"
              aria-label="Edit"
              fontIcon="edit"
            ></mat-icon>
          </button>
          <button mat-mini-fab color="warn" (click)="delete(purchase.id)">
            <mat-icon
              aria-hidden="false"
              aria-label="Delete"
              fontIcon="delete"
            ></mat-icon>
          </button>
        </div>
      </div>
    </mat-card>
  </div>
  
